/* All our CSS is gonna go here */


body {
  font-family: 'DM Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.video-container {
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.overlayText {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 35%; right: 15%; bottom: 20%; left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
}

@media (max-width: 640px) {
  .overlayText {
  display: none;
}
}

footer {
  background-color: rgb(19, 19, 19);
  font: white;
  padding: 100px;
}

.footerLogo {
 font: grey;
 font-size: 65px;
 text-align: left;
}

.icon {
 align: left;
}

#footersection {
 height: 260px;
}

a { 
  color: white; 
}

a:hover, a:visited { 
  color: white; 
}

.subtitle {
  font-size: 40px;
  text-align: center;
  margin: 200px 100px 0px 100px;
  font-weight: bold;
  border-radius: none;
}

.text {
  text-align: center;
  margin: 10px 100px 100px 100px;
  border-radius: none;
}

.sideImage {
  border-radius: 0px;
}

.textCard {
  border-radius: none;
}

.heroSection {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../src/run5.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroSection .heroSectionText {
  color: #fefefe;
  padding: 200px;
}

.card {
  box-shadow: 2px 2px 4px lightgrey;
}