/* All our CSS is gonna go here */

h1 {
  font-family: 'DM Sans', sans-serif;
}
body {
  font-family: 'DM Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.video-container {
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.overlayText {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 35%; right: 15%; bottom: 20%; left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
}

@media (max-width: 640px) {
  .overlayText {
  display: none;
}
}

footer {
  background-color: rgb(19, 19, 19);
  font: white;
  /* padding: 100px; */
}

.footerLogo {
  font-family: 'DM Sans', sans-serif;
  font-size: 28px;
  text-align: left;
}

.bignav {
  padding: 25px;
}

h1 {
  margin: 0px 0px 0px 5px;
}
.icon {
 align: left;
}

.calendarcontainer {
  margin: 20px 20px 20px 20px;
}

#footersection {
 padding: 40px 0px 40px 0px;
}

a { 
  cursor: pointer;
  color: white; 
}

a:hover, a:visited { 
  color: white; 
}

.subtitle {
  font-family: 'DM Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 200px 100px 0px 100px;
  font-weight: bold;
  border-radius: none;
}

.text {
  text-align: center;
  margin: 10px 100px 100px 100px;
  border-radius: none;
}

.sideImage {
  border-radius: 0px;
}

.textCard {
  border-radius: none;
}

.heroSetup {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../src/run5.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroSetup .heroSetupText {
  color: #fefefe;
  padding: 200px;
}

.heroCalendar {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../src/run7.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroCalendar .heroCalendarText {
  color: #fefefe;
  padding: 200px;
}

.heroAbout {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../src/run6.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroAbout .heroAboutText {
  color: #fefefe;
  padding: 200px;
}

.heroContact {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../src/setup.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroContact .heroContactText {
  color: #fefefe;
  padding: 200px;
}

.calendarcontainer {
  margin: 20px;
  padding: 20px;
}

.modal-title {
  font-weight: bold;
}

.modal-header {
  text-align: center;
}

.aboutcontainer {
  margin: 50px;
}

.abouttitle {
  margin: 0px 50px 50px 50px;
}

.card-header {
  font-weight: bold;
  font-size: 25px;
}