/* All our CSS is gonna go here */


body {
  font-family: 'DM Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.video-container {
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.overlayText {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 35%; right: 15%; bottom: 20%; left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
}

@media (max-width: 640px) {
  .overlayText {
  display: none;
}
}